   <configuration>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>
        <system.webServer>
           <staticContent>
              <mimeMap fileExtension=".json" mimeType ="application/json" />
              <mimeMap fileExtension=".unityweb" mimeType ="application/binary" />
              <mimeMap fileExtension=".data" mimeType ="application/binary" />
              <mimeMap fileExtension=".mem" mimeType ="application/binary" />
              <mimeMap fileExtension=".datagz" mimeType ="application/binary" />
              <mimeMap fileExtension=".jsgz" mimeType ="application/binary" />
              <mimeMap fileExtension=".memgz" mimeType ="application/binary" />
              <mimeMap fileExtension=".wasm" mimeType ="application/binary" />
           </staticContent>
        </system.webServer> 
     </configuration>